target/
*.class
.settings/
.classpath
.project
.idea/
*.iml
*.log
.DS_Store
*.swp
.vscode/
bin/
*.dat
.maven/
.maven_temp/
maven.zip
trading-engine-app/data/
cp.txt
spring_boot_run.log
jar_run.log
.tmp/


